@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #FDF38C;
  color: #242529;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'vastago';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../font/vastago_grotesk/VastagoGrotesk-Black.otf') format('opentype');
}
@font-face {
  font-family: 'vastago';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../font/vastago_grotesk/VastagoGrotesk-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'vastago';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../font/vastago_grotesk/VastagoGrotesk-SemiBold.otf') format('opentype');
}
@font-face {
  font-family: 'vastago';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../font/vastago_grotesk/VastagoGrotesk-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'vastago';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../font/vastago_grotesk/VastagoGrotesk-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'vastago';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../font/vastago_grotesk/VastagoGrotesk-Thin.otf') format('opentype');
}